<h2>Todos Page</h2>
{{#if todos.length}}
    <ul>
        {{#each todos}}
            <li class="todo">
                <label>
                    {{#if completed}}
                        <input type="checkbox" checked>
                        <span class="completed">{{title}}</span>
                    {{else}}
                        <input type="checkbox">
                        <span>{{title}}</span>
                    {{/if}}
                    <button class="btn btn-small">Save</button>
                </label>
            </li>
        {{/each}}
    </ul>
{{else}}
<p>No todos</p>
{{/if}}